* {
  box-sizing: border-box;
}

html {
}

body {
  font-family: 'Open Sans', sans-serif;
}

::selection {
  background-color: #222;
}



/*********************
    STYLES
*********************/

/*Colors*/

.bg-white { background-color: #fff;}

.tx-white { color: #fff;}

.bg-orange { background-color: #F05F40;}

.tx-orange { color: #f05f40 !important;}

.bg-black { background-color: #222;}

.tx-black {color: #222;}

.bg-transparent { background-color: transparent}

/*FONTS*/

.description {
  font-family: 'Merriweather', serif;
  font-weight: lighter;
}


/*********************
    UTILITIES
*********************/

.contain-inner {
  max-width: 1000px;
}

.divider {
  display: block;
  width: 70px;
  height: 3px;
  margin: 0 auto;
}

.cust-btn {
  border: none;
  border-radius: 50000px;
  padding: 20px 30px;
  font-size: 14px;
  font-weight: bold;
}

.point {
  cursor: pointer;
}


/*********************
    NAV
*********************/

.navbar {
  background-color: #fff;
  top: 0;
  left: 0;
  padding: 0;
  /*padding-top: 10px;
  padding-bottom: 10px;*/
  transition: border 0.3s ease;
}

.navbar .container-fluid {
  margin-left: 0;
  margin-right: 0;
}

.navbar .navbar-brand-wrap {
  width: auto;
}

.navbar .navbar-brand {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-toggler {
  margin-top: 5px;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: none;
  width: auto;
}

.navbar-toggler-icon {
  font-size: 12px;
  line-height: 18px;
}

.navbar .navbar-menu {
  border-top: 1px solid lightgray;
  position: relative;
  transform:translateY(11px);
}

.navbar .navbar-nav .nav-item .nav-link {
  font-size: 14px;
  color: #222;
  transition: all 0.3s ease;
}

.navbar .navbar-wrap .navbar-brand,
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #F05F40;
}


/*********************
    HEADER
*********************/

.main-header {
  background-image: url("../assets/img/header.jpg");
  background-size: cover;
}

.main-header .contain-inner {
  padding-top: 58px;
  padding-bottom: 58px;
}

.home-heading {
  font-size: 30px;
}

.find-out-btn {
  
}


.test {
  height: 2000px;
  background-color: green;
}

/*********************
    MEDIA QUERIES
*********************/

@media(min-width: 768px) {
  
  /*********************
      NAV
  *********************/
  .navbar {
    background-color: transparent;
    border-bottom: 1px solid lightgray;
  }

  .navbar-scrolled {
    background-color: white;
    border: none;
  }

  .navbar.navbar-scrolled .navbar-brand,
  .navbar.navbar-scrolled .navbar-menu .navbar-nav .navbar-link {
    color: #222;
  }

  .navbar .navbar-menu {
    border:none;
    transform:translateY(0px)
  }

  .navbar .navbar-wrap .navbar-brand,
  .navbar .navbar-nav .nav-item .nav-link {
    color: white;
    
  }

  .navbar .navbar-wrap .navbar-brand:hover,
  .navbar .navbar-nav .nav-item .nav-link:hover {
    color: #F05F40;
  }
}