* {
  box-sizing: border-box;
}

html {
}

body {
  font-family: 'Open Sans', sans-serif;
}



/*********************
    STYLES
*********************/

/*Colors*/

.bg-white { background-color: #fff;}

.tx-white { color: #fff;}

.bg-orange { background-color: #F05F40;}

.tx-orange { color: #f05f40;}

.bg-black { background-color: #222;}

.tx-black {color: #222;}

.bg-transparent { background-color: transparent}


/*********************
    UTILITIES
*********************/

.divider {
  display: block;
  width: 60px;
  height: 3px;
  background-color: red;
  margin: 0 auto;
}


/*********************
    NAV
*********************/

.navbar {
  border-bottom: 1px solid lightgray;
  font-size: 
}

.navbar-toggler {
  cursor: pointer;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: none;
  width: auto;
}

.navbar-toggler-icon {
  font-size: 12px;
  line-height: 18px;
}

.navbar .navbar-brand-wrap {
  width: auto;
}

.navbar-nav .nav-item .nav-link {
  font-size: 14px;
}


/*********************
    HEADER
*********************/

.main-header {
  background-image: url("../assets/img/header.jpg");
  background-size: cover;
}

.home-heading {
  font-size: 30px;
}