/*****************
    GENERAL STYLES
*****************/

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #222;
}

li {
  font-weight: bold;
  text-transform: uppercase;
}

a:link,
a:visited {
  color: #222;
}

a:hover,
a:active {
  color: #f05f40;
}

h1 {
  font-size: 28px;
  font-weight: bold;
}

h3 {
  margin: 15px 0 10px;
}

p {
  font-family: 'Merriweather', serif;
  margin-bottom: 25px;
  font-weight: lighter;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70px;
  border-top: 3px solid #f05f40;
}

hr.light {
  border-color: #fff;
}

section {
  padding: 75px 0;
}

aside {
  padding: 40px;
  background-color: #222;
}

::-moz-selection {
  background: #222;
  color: #fff;
}

::selection {
  background: #222;
  color: #fff;
}


/*****************
    REUSABLE CLASSES
*****************/

.btn {
  border-radius: 50000px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px 30px;
  font-size: 14px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.85;
}


.btn-white {
  background-color: #fff;
}

i.fa {
  color: #f05f40;
  font-size: 60px;
}

.fa.icon-dark {
  color: #222;
  font-size: 40px;
}

.background-primary {
  background-color: #f05f40;
}

.txt-primary {
  color: #fff;
}

.ease {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}


/*****************
    NAV
*****************/

.navbar {
  margin-left: -15px;
  margin-right: -15px;
}

.navbar-header {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-header .navbar-toggler {
  right: 30px;
}

.navbar .navbar-nav {
  border-top: 1px solid lightgray;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar .nav-item .nav-link:link,
.navbar .nav-item .nav-link:visited {
  font-size: 14px;
  color: #222;
}

.navbar .navbar-brand:link,
.navbar .navbar-brand:visited,
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link:active {
  color: #f05f40;
}


/*****************
    HEADER
*****************/

.main-header {
  width: 100%;
  background-image: url("./../assets/img/header.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
  padding: 120px 0;
}

.jumbotron {
  border-radius: 0px;
}

.main-header .container {
  max-width: 1000px;
}

.main-header p {
  margin-bottom: 60px;
}

/*****************
    SERVICE
*****************/

.service-box-container {
  margin-bottom: 15px;
}

/*****************
    DOWNLOAD
*****************/

.download h2 {
  margin-bottom: 25px
}

/*****************
    MEDIA QUERIES
*****************/

@media(min-width: 768px) {

  /*****************
    GENERAL
  *****************/

  hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  /*****************
    NAV
  *****************/

  .navbar {
    background-color: transparent;
    border-bottom: 1px solid #e7e7e7;
  }

  .navbar .navbar-nav {
    border-top: none;
    padding-top: 0;
    margin-top: 0;
  }

  .navbar .navbar-brand:link,
  .navbar .navbar-brand:visited,
  .navbar .navbar-nav .nav-item .nav-link:link,
  .navbar .navbar-nav .nav-item .nav-link:visited {
    color: #fff;
  }

  /*
  after user scrolls, nav will turn white
  link colors will also change
  */
  .navbar.lit {
    background-color: #fff;
  }

  .navbar.lit .navbar-nav .nav-item .nav-link:link,
  .navbar.lit .navbar-nav .nav-item .nav-link:visited {
    color: #222;
  }

  .navbar .navbar-brand:hover,
  .navbar .nabvar-brand:active,
  .navbar.lit .navbar-brand:link,
  .navbar.lit .navbar-brand:visited,
  .navbar.lit .navbar-nav .nav-item .nav-link:hover,
  .navbar.lit .navbar-nav .nav-item .nav-link:active {
    color: #f05f40;
  }

  /*****************
     HEADER
  *****************/
  .main-header {
    height: 100vh;
    position: relative;
  }

  .main-header .container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin-left: auto;
    margin-right: auto;
  }

  .main-header h1 {
    font-size: 48px;
  }

  .main-header p {
    font-size: 18px;
  }
}